[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
defusedxml = "*"
django-tailwind = {extras = ["reload"], version = "*"}
django-widget-tweaks = "*"
psycopg2-binary = "*"
django-weasyprint = "*"
django-crontab = "*"
django-filter = "*"

[dev-packages]
django-stubs = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
faker = "*"
django-filter-stubs = "*"

[requires]
python_version = "3.13"
