[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
django-filter = "*"
defusedxml = "*"
django-tailwind = {extras = ["reload"], version = "*"}

[dev-packages]
django-stubs = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.13"
