{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="pt-BR">
	<head>
    <title>Sigecomp</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 leading-normal tracking-normal w-screen h-screen">
        {% include "navigation.html" %}
        <div class="h-screen flex-col items-center justify-center">
            {% block content %}
            {% endblock %}
        </div>
	</body>
</html>
