<div class="flex h-screen text-gray-700 dark:text-gray-200"
     x-data="{ openMenu: false }">
    <aside class="w-64 bg-gray-50 dark:bg-gray-900 border-r border-gray-200 dark:border-gray-600 flex-col">
        <div class="px-6 py-4 text-sm text-gray-500 font-semibold">SIGEMP</div>
        <nav class="flex-1 px-6 py-4 text-sm font-semibold">
            <div class="relative">
                <a href="{% url 'core:home' %}"
                   class="block py-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800">
                    <i class="material-symbols-outlined align-middle">home</i>
                    <span class="align-middle">Dashboard</span>
                </a>
                <a href="#"
                   class="block py-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800">
                    <i class="material-symbols-outlined align-middle">contract</i>
                    <span class="align-middle">Empréstimos</span>
                </a>
                <button @click="openMenu = !openMenu"
                        class="w-full flex justify-between items-center py-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800 transition">
                    <span>Cadastros</span>
                    <svg :class="{ 'rotate-90': openMenu }"
                         class="w-4 h-4 transform transition-transform"
                         fill="none"
                         stroke="currentColor"
                         viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                    </svg>
                </button>
                <div x-show="openMenu"
                     @click.away="openMenu = false"
                     x-transition
                     class="absolute left-full top-0 ml-2 mt-0 bg-white border dark:bg-gray-900  dark:border-gray-700 shadow-lg rounded w-48 z-50">
                    <a href="{% url 'patrimonio:listar_tipos_bem' %}"
                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-800">Tipos de Bem</a>
                    <a href="#"
                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-800">Setores</a>
                    <a href="#"
                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-800">Categorias</a>
                </div>
                <a href="{% url 'core:logout' %}"
                   class="block py-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800">
                    <i class="material-symbols-outlined align-middle">logout</i>
                    <span class="align-middle">Sair</span>
                </a>
            </div>
        </nav>
    </aside>
</div>
