{% extends "base.html" %}

{% block content %}

  <div class="max-w-7xl mx-auto flex items-center justify-between border border-red-500 mb-16">
    <div><h1 class="font-bold text-2xl ">Tipos de Bem</h1></div>
    {% if pode_criar %}
      <div><a href="{% url 'core:home' %}">Novo Tipo de Bem</a></div>
    {% endif %}
  </div>

  <section class="bg-gray-50 max-w-7xl mx-auto flex justify-center items-center p-4 shadow-md rounded-md font-serif">
    {% for tipo_bem in tipo_bens %}
      <p>{{tipo_bem.descricao}}</p>
    {% endfor %}
  </section>
{% endblock %}
