{% extends "base.html" %}

{% block title %} Tipos de Bem {% endblock title %}

{% block actions %}
  {% if pode_criar %}
    <div>
      <a href="{% url 'core:home' %}">
        <div class="rounded-md py-2 gap-2 flex px-4 bg-blue-600 hover:bg-blue-700 hover:text-gray-50 items-center font-semibold text-sm text-gray-100">
          <i class="material-icons">add</i>
            <span>
              Novo Tipo de Bem
            </span>
        </div>
      </a>
    </div>
  {% endif %}
{% endblock actions %}

{% block content %}
  <section class="bg-gray-50 text-gray-500 max-w-7xl mx-auto flex items-center p-4 shadow-md rounded-md">
    <ul class="flex gap-2">
      {% for tipo_bem in tipos_bem %}
        <li>
          <div class="p-8 font-semibold text-gray-800 rounded-md border border-gray-200">{{tipo_bem.descricao}}</div>
        </li>
      {% empty %}
        <p class="text-xs">Nenhum tipo de bem cadastrado.</p>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
