{% extends "base.html" %}
{% block page_title %}
    Empréstimos
{% endblock page_title %}
{% block actions %}
    {% if pode_criar %}
        <div class="flex justify-end md:justify-start">
            <button @click="$dispatch('open-modal', {url: '{% url 'emprestimo:criar_emprestimo' %}'})">
                <div class="rounded-md w-fit py-2 gap-2 flex px-4 border border-blue-500 text-blue-600 dark:border-blue-400 dark:text-blue-300 bg-blue-50 dark:bg-gray-800 items-center font-semibold text-sm transition-all duration-300 ease-in-out hover:bg-blue-100 dark:hover:bg-gray-700 hover:ring-2 hover:ring-blue-300 dark:hover:ring-blue-500/40 hover:shadow-md cursor-pointer">
                    <i class="material-symbols-outlined transition-transform duration-300 group-hover:rotate-6">add</i>
                    <span class="hidden md:block">Novo Empréstimo</span>
                </div>
            </button>
        </div>
    {% endif %}
{% endblock actions %}
{% block filter_form %}
    {% include "partials/filter_form.html" %}
{% endblock filter_form %}
{% block content %}
    <section class="bg-gray-50 dark:bg-gray-900 text-gray-500 dark:text-gray-300 max-w-7xl mx-auto p-2 shadow-md rounded-md">
        <div class="overflow-y-auto max-h-[calc(100vh-250px)]">
            <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                <thead class="bg-gray-50 dark:bg-gray-900 sticky top-0 border-b-2 border-solid  border-b-gray-200 dark:border-b-gray-700">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">
                            Ações
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">
                            Aluno
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">Bem</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">
                            Data Empréstimo
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">
                            Data Devolução Prevista
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">
                            Data Devolução
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">
                            Status
                        </th>
                    </tr>
                </thead>
                {% include "emprestimo/emprestimo/partials/table.html" %}
            </table>
        </div>
        {% include "partials/pagination.html" %}
    </section>
{% endblock %}
